snippet fontface "Add a @font-face"
@font-face {
    font-family: '$1';
    src:    url('../fonts/$2.eot?#iefix') format('embedded-opentype'), 
            url('../fonts/$2.woff2') format('woff2'), 
            url('../fonts/$2.woff')  format('woff');
    font-weight: 400;
}
endsnippet
