snippet lb "Left bracket"
\lbracket
endsnippet

snippet rb "Right bracket"
\rbracket
endsnippet

snippet \( "Inline formula"
\($1\)$2
endsnippet

snippet lim "limes function"
\lim_{$1 \to $2} $3
endsnippet
