snippet prose "Prose include headers"
source ~/.vim/ftplugin/prose.vim
endsnippet

snippet code "Code include headers"
source ~/.vim/ftplugin/code.vim
endsnippet

snippet indentset "Snippet to easily change filetype identation"
set expandtab
set tabstop=4
set softtabstop=4
set shiftwidth=4
endsnippet
